# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment
.env

# Jupyter Notebook
.ipynb_checkpoints/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

#Dataset
akg_anak.csv
final_dataset.csv
panganku_dataset.csv

# Virtual Environment
venv311/